/* Umumiy style */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #ffffff;       /* OQ FON */
    color: #333;
}

/* Header */
header {
    text-align: center;
    padding: 40px 20px;
    background: #ffffff;
}

header h1 {
    font-size: 36px;
    color: #e91e63;
    margin-bottom: 20px;
}

/* NAV menu */
nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 50px;
    width: 80%;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #e7e5e5;
}

/* Rasm galereyasi */
.gallery {
    padding: 40px;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.18);
}

.contact-info{
    text-align: center;
}